div.aboutObjectives{
    border: darkblue;
    float: left;
    height: 100%;
    margin-right: 15px;
    /*overflow:scroll; !* acrescentei isto para ver se acompanha o resto*!*/
}
#img1{
    width: 100px; /* you can use % */
    height: auto;
    float: bottom;
    /*align-content: center;*/
    display: block;
    margin: auto;
}
#img2{
    width: 100px; /* you can use % */
    height: auto;
    float: bottom;
    /*align-content: center;*/
    display: block;
    margin: auto;
}
#img3{
    width: 100px; /* you can use % */
    height: auto;
    float: bottom;
    /*align-content: center;*/
    display: block;
    margin: auto;
}
div.content{
    color: white;
    /*margin-left: 20em;*/
    width:94%;
    height:auto;
    /*overflow: auto;*/
    /*padding-bottom: 55px;*/
    /*clear: right;*/
    clear: left;
}
