div.aboutObjectives{
    border: darkblue;
    float: left;
    height: 100%;
    margin-right: 15px;
    /*overflow:scroll; !* acrescentei isto para ver se acompanha o resto*!*/
}
#img1{
    width: 100px; /* you can use % */
    height: auto;
    float: bottom;
    /*align-content: center;*/
    display: block;
    margin: auto;
}
#img2{
    width: 100px; /* you can use % */
    height: auto;
    float: bottom;
    /*align-content: center;*/
    display: block;
    margin: auto;
}
#img3{
    width: 100px; /* you can use % */
    height: auto;
    float: bottom;
    /*align-content: center;*/
    display: block;
    margin: auto;
}
div.content{
    color: black;
    /*margin-left: 20em;*/
    width:94%;
    margin-left: 3%;
    margin-right: 3%;
    height:auto;
    /*overflow: auto;*/
    /*padding-bottom: 55px;*/
    /*clear: right;*/
    clear: left;
}

div.about{
    margin-top: 0%;
    margin-bottom: 2%;
    background-color: white;

    border: 1px solid green;
    padding: 4%;

}

h1{background-color: green;
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-bottom: 0%;
    padding: 1%;
    text-align: center;}