.content{
	width: auto;
	height: auto;
}

h1{

	background-color: green;
	font-family: 'Raleway', sans-serif;
	color: white;
	text-align: center;
	opacity: 0.9;

}

.mySlides {


    display:none;
 }
.select {
    cursor:pointer;
   }


.selectorImages{
    max-width:70%;
}

div.slide{
    width:60%;
    height:60%;
    display: block;
}

.smalsSlides  {

     position: relative;
    float: left;
}



div.smalSlide{

    margin-top: 1%;
    width:60%;


}


img.select{
    max-height:30%;
    width:30%;
        display: block;
}

img {
	max-width:90%;
	height:auto;

}

div.slider{

	width: 50%;
	height: 200px;
	background: red;
	margin: 0 5px 0 5px;
	overflow: hidden;
	border: 1px solid black;


}

.container{
	width: 25%;
	height: 200px;
	overflow: hidden;
	position: relative;
}

.container img{
	position: absolute;
	right: 0; left: 0;
	margin: auto
}

.mySlides {display:none}
.demo {cursor:pointer;
	border: 1px solid green;}

div.produt{
	background: white;
	border: 1px solid green;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 3%;
}

.input{
	background-color: green;
	border: 1px solid darkgreen;

}

.produt_submit{
	font-family: 'Raleway', sans-serif;
	text-align: right;
	padding-right: 4%;
}

p{
	font-size: large ;
	padding-right: 4%;
	color: red;
}

.title{
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}