.content{
	width: auto;
	height: auto;
}

h1{
	margin-bottom: 0%;
	padding: 1%;
	background-color: green;
	font-family: 'Raleway', sans-serif;
	color: white;
	text-align: center;
	opacity: 0.9;

}



img{
	display: block;
	margin: 0 auto;
}









.mySlides {
	display:none;
	height: 300px;
	width: auto;
}

.demo {
	cursor:pointer;
	border: 1px solid green;
	height: 100px;


}

div.produt{
	background: white;
	border: 1px solid green;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 3%;
}

input[type=submit] {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}


.produt_submit{
	font-family: 'Raleway', sans-serif;
	text-align: right;
	padding-right: 4%;
}

p{
	font-size: large ;
	padding-right: 4%;
	color: red;
}

.title{
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}

.imagesContent{
	text-align: center;
	max-width:500px;
	height: auto;
	width: auto;
	margin:auto
}

.selctImage {
	height: 200px;
	margin-top:16px;
	margin-bottom:2%;
}

.grid{
	display: inline-block;
	padding:0 8px;
	width:100px;
	height: 100px;
}

div.imageSlider{
	margin-top: 5%;
	display: inline-block;
	width:50%;
	height: auto;
}

