.content{
    width: auto;
    height: auto;
    width: 94%;
    margin-left: 3%;
    margin-rigth: 3%;
}


div.form-group-email{
    margin-left: 1em;
}
div.form-group-subject{
    margin-left: 1em;
}
div.form-group-message{
    margin-left: 1em;
}
#email{
    margin-left: 6px;
    width: 15em;
}
#subject{
    margin-left: 21px;
    width: 15em;
}
#message{
    width: 20em;
    height: 10em;
}
#button{
    margin-left: 19em;
}
/*
#helpDiv{
    padding-bottom: 60px;
}*/
