html, body {
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;

}

.content{
    width: auto;
    height: auto;

}


a.news{  display: block;
    color: black;
    font-size: x-large;
}

h1{

    background-color: green;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;

}

h3{

    background-color: green;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    opacity: 0.9;

}

h2{
    font-size: small;
}


/*
div.lastedNews{
    background-color: red;

}
div.news {
    align-items: left;
    margin-left: 5%;
    margin-right: 30%;
    margin-bottom: 5%;


}

div.table_ligue {
    float: right;
    align-items: left;
    width: 5% ;
    background-color: gold;

}

div.results_table {
    float: right;
    width: 5% ;

}
*/



span.mySpan {

    display:block;
}




img.news {
    display: block;



}

div.news{
    background-color: white;
    border: 1px solid green;
    padding: 2%;
}

img {
    max-width:100%;
    height:auto;

}


.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item1 {

    padding-right: 1%;
    width: 70%;


    text-align:  justify;

    border-right: 1px solid;
    border-color: green;

}

.flex-item {

    padding: 5px;
    width: 30%;

    text-align: center;
}

div.home{
    margin-left: 5%;
    margin-right: 5%;

}

.slider{
    margin-left: 3%;
    margin-right: 3%;
}
div.slider{

    max-height: 250px;
    max-width:94%;
    overflow: hidden;
}


.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}


div.results_table, div.table_ligue{
    height: 450px;      /* Just for the demo */
    margin-left: 3%;
    background-color: white;
    text-align: center

}


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    max-height:80%;
    height: auto;
    font-family: 'Raleway', sans-serif;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: none;
    text-align: center;
    padding: 8px;

}


thead, tbody { display: block;
    text-align: center;}

tbody {
    height: 340px;      /* Just for the demo */
    overflow-y: auto;   /* Trigger vertical scroll */
    overflow-x: auto;  /*Hide the horizontal scroll */
}



td.line{
    background-color: #99cb84;

}
.clear_line{
    background-color: white;
}