html, body {
    background-color: #444444;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0;
}
div.nav {
    width:94%;
    background-color: #0D6600;
    margin-left:3%;
    margin-top: 3%;
    margin-right:3%;
    overflow: hidden;
}
ul.navbar {
    list-style-type: none;
    padding: 0;
}
li.navbar {
    float: left;
}

li a.navbar {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#exp{
    float:right;
}
li a.navbar:hover {
    background-color: #003300;
}

a.navbar {
    color: #006600;
    padding: 10px 25px 10px 25px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
/*
div.content{
    clear: left;
    clear: right;
}*/
div.footer{
    /*border: dotted 5px green;*/
   //; /* FIXED= se queremos no canto de baixo sempre, ABSOLUTE= relativo a vista actual*/
    right: 0;
    left: 0;
    width:100%;
    height:60px;   /*!* Height of the footer *!*/
    position: relative;
    background-color: #0D6600;
    width:94%;
    align: center;
    margin-left: 3%;
}
#fb{
    margin-top: 5px;
    width: 40px; /* you can use % */
    height: 40px;
}
#twt{
    margin-top: 5px;
    margin-left: 10px;
    width: 40px; /* you can use % */
    height: 40px;
}
#yt{
    margin-top: 5px;
    margin-left: 10px;
    width: 40px; /* you can use % */
    height: 40px;
}
#p_foot{
    float: left;
    margin-right: 10px;
    color:white;
    margin-left: 2%;
    width: auto;
}

a.foot{
    float: left;
}
/*
img{
    width: 50px;
    height: auto;
}
*/
