html, body {
    background-color: #444444;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0;
}

ul.navbar {
    width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0D6600;
}
li.navbar {
    float: left;
}

li a.navbar {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#exp{
    float:right;
}
li a.navbar:hover {
    background-color: #003300;
}

a.navbar {
    color: #006600;
    padding: 10px 25px 10px 25px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
/*
div.content{
    clear: left;
    clear: right;
}*/
div.footer{
    /*border: dotted 5px green;*/
    position:absolute;
    color: white;
    bottom:0;
    width:100%;
    height:60px;   /*!* Height of the footer *!*/
    background:#444444;
}
img.fb{
    width: 50px; /* you can use % */
    height: auto;
}
img.twt{
    width: 30px; /* you can use % */
    height: auto;
}
img.yt{
    width: 30px; /* you can use % */
    height: auto;
}