.content{
    width: auto;
    height: auto;
}

.produt{
    width: 42%;
    height: 42%;
    float: left;
    margin-left:8%;


}

p{
    color: green;
    padding-right: 4%;
    text-align: right;
}

form.produts{
    padding-right: 4%;
    text-align: right;
    color: green;

}

h1{
    background-color: green;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    margin-left:5%;
    margin-right:5%;
}


img.galeryImages {
    float: left;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    max-height:20%;
    width:40%;
}


a.produts{
    
    text-align: center;
    display: block;
    color: black;


}


img.produts {

    max-height:30%;
    width:60%;
}

div.produts {
    background-color: white;
    border: 1px solid green;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;

}


div.image{
    padding: 4%;
    text-align: center;
    height: 60% ;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 90%;
}

.item {
    background: white;
    border: 1px solid green;
    margin: 5% 0 0;
    padding: 30% 30% 0 0;
    position: relative;
}

.inner {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}