html, body {
    background-color: #afd9ee;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    width: 100%;
    position: absolute;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}


.m-b-md {
    margin-bottom: 30px;
}

ul {
    width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}




.produt{
    width: 42%;
    float: left;
    margin-top:5%;
    margin-left:8%;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
#exp{
    float:right;
}




/*/--------JORGE ---------------*/

div.img {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;

}

div.news {
    display: flex;
    align-items: left;
    text-align: justify;
    margin-left: 5%;
    margin-right: 30%;
    margin-bottom: 5%;

}

div.NewsDetails {

    align-items: center;
    text-align: justify;


}


p2.NewsDetails , h2.NewsDetails {
    display: flex;
    align-items: center;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;

}

a.NewsDetails {

    align-items: center;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;

}

div.lastedNews {
    display: flex;
    align-items: left;
    margin-left: 5%;
    margin-right: 30%;
    margin-bottom: 5%;
    padding: 5%;
    border: solid;
    border-color: #5bc0de;

}

h2 {
    border-top-style: solid;
    border-left-style: solid;
    border-color: #5bc0de;
    margin-left: 5%;
    margin-right: 30%;


}

img {
    max-width:100%;
    height:auto;
}

img.lastedNews {
    display: flex;
    margin-left: 5%;
    margin-right: 30%;
    max-height:30%;
    width:auto;
}

a.news{  display: block;
    color: black;


}