img[usemap], map area[shape]{
    outline-color: green;
    background-color: #FFEEEE;
}



.image {
    position: relative;
    width: 100%; /* for IE 6 */
}

h2 {
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
}




div { margin: 20px; }

.styled-select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 240px;
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 268px;
}





.semi-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.green   { background-color: green; }


/* -------------------- Colors: Text */
.slate select   { color: #000; }
.green select   { color: #fff; }
.blue select    { color: #fff; }
.yellow select  { color: #000; }
.black select   { color: #fff; }




.uzay{ background-image:url('https://s3.amazonaws.com/acr20162017/stadium/stadium_club.jpg');
    width:1000px;
    height:1260px;
    border:1px solid turquoise;
}



.poly{
    opacity: 80;
    fill:transparent;
    cursor:pointer;
}
.circle {fill:transparent; cursor:pointer}

