.content{
    width: auto;
    height: auto;
}
.tickets{
    width:80%;
    margin-left:10%;
    margin-right:10%;
    text-align: center;
}


div.games{
    text-align: center;
    background: white;
    border: 1px solid green;
    padding: 4%;
    margin-top: 0%;
    margin-left:3%;
    margin-right:3%;

}



.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1vw;
    margin: 4px 2px;
    cursor: pointer;
}

h1{
    margin-bottom: 0%;
    padding: 1%;
    background-color: green;
    font-size: 2.5vw;
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-left:3%;
    margin-right:3%;
    text-align: center;
}
.date{
    font-size: 1.0vw;
    text-align: center;
}

.price{
    font-size: 1.0vw;
    text-align: right;

}

.p2{
    padding: 2%;
    color: red;
    font-size: 200%;
}




h2 {
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
}




div { margin: 20px; }



img.games{
    max-height:90%;
    width:10%;
}

.clubs{
    margin: 0%;
    font-size: 1.5vw;
    width: 100%;
    text-align: center;
}

