html, body {
    background-color: #444444;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}
h1, h3, h2{
    text-align:center;
    color:white;
    font-weight: bold;
}


li.userState {
    text-align : center;
    color: #444444;
}
p {
    color:white;
    float:left;
    margin:1% 0 1% 0;
    width: 100%;
    text-align : left;
}

li a.userState {
    display: block;
    color: white;
    font-size: 22px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
fieldset.userState{
    margin: 3% 15% 3% 15%;
    border:2px solid white;
    border-radius: 10px;

}

label.userState {
    float:left;
    margin:2% 2% 0% 9%;
    color:white;
    text-align:left;
    font-weight:bold;
}

label.userState2 {
    float:left;
    color:white;
    text-align:left;
    font-weight:bold;
    margin-right: 2%;
}

legend.userState {
    border:1px solid white;
    color:white;
    font-size:90%;
    text-align:left;
}
li a.userState:hover {
    background-color: #222222;
}
input[type=file]{
    float:left;
    color:white;
    width: 65%;
    margin-top: 2%;
    border-radius: 5px;

 }
#butonExp{
    position: relative;
    margin:4% 0% 0% 0%;
}

input[type=submit].userState{
    float: right;
    width: 15%;
    margin:4% 9% 0% 0%;
    border-radius: 5px;
    border: 2px solid black;
    padding: 2px 2px 2px 2px;
}

input[type=radio].userState {
    margin-left:  9%;
    float: left;

}

input[type=radio].userState2 {
    margin-left:  9%;
    float: left;
    margin-left: 38%;

}

input[type=checkbox]  {
    margin-left:  43%;
    float: left;

}
label.userStateRadio{
    float: left;
    padding-left: 2%;
    color: white;
}

a.userStateCheck{
    float: left;
    padding-left: 2%;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

input[type=text],textarea {
    margin:0% 10% 0% 9%;
    float:left;
    width: 80%;
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#in_date {
    float: left;
    margin-left:1%;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#in_select{
    float: left;
    margin-left:2%;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


div.add_game{
     margin-top: 2%;
     float:left;
     width: 100%;
 }

#in_text{
    width: 10%;
    float: left;
    margin-left: 0px;
}
/* Socio*/
div.product_section{
    margin-top: 10%;
    margin-left: 33%;
    width: 33%;
    height: auto;
}


img.produts {
    width: 100%;
    align-items: center;
}

p.product_bascket{
    float: left;
    font-size: 16px;
}

p.product_purchased{
    float: left;
    font-size: 16px;
    margin-left: 40%;
}

p.product_bascket3{
    float: left;
    font-size: 16px;
    margin-left: 16%;

}

p.product_purchased3{
    float: left;
    font-size: 16px;
    margin-left: 16%;

}

p.product_purchased4{
    margin-top: 5%;

}

p.product_bascket2{
    text-align: center;
    font-weight: bold;
    font-size: 19px;
}

p.product_purchased2{
    text-align: center;
    font-weight: bold;
    font-size: 19px;
}

input[type=submit].userBasket{
    width: 33%;
    margin-left: 1%;
    margin-bottom: 15%;
    border-radius: 5px;
    border: 2px solid black;
    padding: 2px 2px 2px 2px;
}

